<style>
    footer {
        /* position: sticky;
        bottom: 0; */
        width: 100vw;
    }
</style>

<footer class="bg-primary text-white text-center py-3 mt-5">
    <div class="container">
    <p class="mb-1">&copy; 2025 TaskTrack. All rights reserved.</p>
    <div>
        <a href="#" class="text-light me-3 text-decoration-none">Privacy Policy</a>
        <a href="#" class="text-light text-decoration-none">Terms of Service</a>
    </div>
    </div>
</footer>

